body,html{
    height:100%;
}
#image{
    background-image: url("../images/bg.png");
    height: 100%;
    background-position: center;
    background-size: cover; 
    display:flex;
    align-items: center;
    justify-content: center;
}
#buttons{
    margin-top: 150px;
    width: 780px;
}
.btn{
    border-radius: 8px;
    padding: 15px;
    width: 80px;
    font-size:11px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.8;
    box-shadow: 3px 6px #4444;
}